<div class="row">
	<div class="col-sm-12">

		<h3 class="pageHeading">Contributing</h3>

		<h5>Notes on contributing and Pull Requests (PRs):</h5>
		<p>As usual, I will prioritize PRs which serve the greater good, or are critical.</p>
		<p>If I don't accept a PR, it means either:</p>
		<ul>
			<li>I am currently working on the same thing, or</li>
			<li>It doesn't serve greater good (perhaps only applies to you or, say, 5% of the users), or</li>
			<li>It conflicts with existing functionalities</li>
		</ul>

		<p>
			When working on a PR, please set your TAB to be 4 spaces (ASCII 32).
		</p>

	</div>
</div>
