<div class="row">
	<div class="col-sm-12">

		<h3 class="pageHeading">Demo > Grouping</h3>

		<p>
			Grouping is done with the special key <a href="/#/config-options#children-property"><code>children-property</code></a> that each of
			the objects in your input model can have. When that key is present, the object will
			be converted into a node and the nested objects will be converted into children.
		</p>

		<p>
			There is no limit in the nested level that this directive can handle.
		</p>

		<div role="tabpanel">

			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a data-target="#result" role="tab" data-toggle="tab">Result</a>
				</li>
				<li role="presentation">
					<a data-target="#view" role="tab" data-toggle="tab">View</a>
				</li>
				<li role="presentation">
					<a data-target="#controller" role="tab" data-toggle="tab">Controller</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="result">
					<div
						angular-multi-select
						input-model="input_data"
						output-model="output_data"

						dropdown-label="Click me!"
						node-label="<[ text ]>"
						leaf-label="<[ text ]>"
					></div>
				</div>
				<div role="tabpanel" class="tab-pane" id="view">
					<p>Define your directive:</p>
					<pre>
						<code class="javascript" ng-non-bindable>
&lt;div
	angular-multi-select
	input-model="input_data"
	output-model="output_data"

	dropdown-label="Click me!"
	node-label="<[ text ]>"
	leaf-label="<[ text ]>"
>&lt;/div>
						</code>
					</pre>
				</div>
				<div role="tabpanel" class="tab-pane" id="controller">
					<p>Define your data models:</p>
					<pre>
						<code class="javascript">
$scope.input_data = [
	{ text: 'A', value: 'a', id: 1, children: [
		{ text: 'A 1', value: 'a1', id: 11},
		{ text: 'A 2', value: 'a2', id: 12},
		{ text: 'A 3', value: 'a3', id: 13, children: [
			{ text: 'A 11', value: 'a11', id: 111},
			{ text: 'A 12', value: 'a12', id: 112},
			{ text: 'A 13', value: 'a13', id: 113}
		]},
	]},
	{ text: 'B', value: 'b', id: 2, children: [
		{ text: 'B 1', value: 'b1', id: 21},
		{ text: 'B 2', value: 'b2', id: 22},
	]},
	{ text: 'C', value: 'c', id: 3},
	{ text: 'D', value: 'd', id: 4, children: [
		{ text: 'D 1', value: 'd1', id: 41, children: [
			{ text: 'D 11', value: 'd11', id: 411, children: [
				{ text: 'D 111', value: 'd111', id: 4111, children: [
					{ text: 'D 1111', value: 'd1111', id: 41111}
				]}
			]}
		]}
	]},
	{ text: 'E', value: 'e', id: 5},
	{ text: 'F', value: 'f', id: 6, children: [
		{ text: 'F 1', value: 'f1', id: 61},
		{ text: 'F 2', value: 'f2', id: 62},
	]}
];

$scope.output_data = [];
						</code>
					</pre>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h5>Output model</h5>
		<p>
			Look at the <code>output-model</code> below to see the values getting updated
			as you select / deselect an item in the directive.
		</p>
		<pre ng-bind-html="output_data | json : 4 | prettify"></pre>
	</div>
</div>

<script>
	$(document).ready(function() {
	  $('pre code').each(function(i, block) {
		hljs.highlightBlock(block);
	  });
	});
</script>
