<div class="row">
	<div class="col-sm-12">

		<h3 class="pageHeading">Demo > Button styling</h3>

		<p>
			You can style the dropdown button with AMS's constants and/or with the data from your
			output model. Make sure to check the <a href="#/config-options#dropdown-label"><code>dropdown-label</code></a>
			configuration option for details.
		</p>


		<div class="row">
			<div class="col-sm-6">
				<h5>Constants</h5>
				<div role="tabpanel">

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a data-target="#result_1" role="tab" data-toggle="tab">Result</a>
						</li>
						<li role="presentation">
							<a data-target="#view_1" role="tab" data-toggle="tab">View</a>
						</li>
						<li role="presentation">
							<a data-target="#controller_1" role="tab" data-toggle="tab">Controller</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="result_1">
							<div
								angular-multi-select
								input-model="input_data"
								output-model="output_data_1"
								output-type="objects"

								dropdown-label="<[
									<# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === undefined ? 'No available items' :
										<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 0 ? 'No checked items' :
											<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> + ' checked ' + (<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 1 ? 'item': 'items')
								]>"
								node-label="<[ text ]>"
								leaf-label="<[ text ]>"
							></div>
						</div>
						<div role="tabpanel" class="tab-pane" id="view_1">
							<p>Define your directive:</p>
							<pre>
								<code class="javascript" ng-non-bindable>
&lt;div
	angular-multi-select
	input-model="input_data"
	output-model="output_data_1"
	output-type="objects"

	dropdown-label="<[
		<# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === undefined ? 'No available items' :
			<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 0 ? 'No checked items' :
				<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> + ' checked ' + (<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 1 ? 'item': 'items')
	]>"
	node-label="<[ text ]>"
	leaf-label="<[ text ]>"
>&lt;/div>
								</code>
							</pre>
						</div>
						<div role="tabpanel" class="tab-pane" id="controller_1">
							<p>Define your data models:</p>
							<pre>
								<code class="javascript">
$scope.input_data = [
	{ text: 'A', value: 'a', id: 1},
	{ text: 'B', value: 'b', id: 2},
	{ text: 'C', value: 'c', id: 3, checked: true},
	{ text: 'D', value: 'd', id: 4},
	{ text: 'E', value: 'e', id: 5},
	{ text: 'F', value: 'f', id: 6, checked: true}
];

$scope.output_data_1 = [];
								</code>
							</pre>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-6">
				<h5>Output model data</h5>
				<div role="tabpanel">

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a data-target="#result_2" role="tab" data-toggle="tab">Result</a>
						</li>
						<li role="presentation">
							<a data-target="#view_2" role="tab" data-toggle="tab">View</a>
						</li>
						<li role="presentation">
							<a data-target="#controller_2" role="tab" data-toggle="tab">Controller</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="result_2">
							<div
								angular-multi-select
								input-model="input_data"
								output-model="output_data_2"
								output-type="objects"

								dropdown-label="<[ '<(text)>' | outputModelIterator : this : ', ']>"
								node-label="<[ text ]>"
								leaf-label="<[ text ]>"
							></div>
						</div>
						<div role="tabpanel" class="tab-pane" id="view_2">
							<p>Define your directive:</p>
							<pre>
								<code class="javascript" ng-non-bindable>
&lt;div
	angular-multi-select
	input-model="input_data"
	output-model="output_data_2"
	output-type="objects"

	dropdown-label="<[ '<(text)>' | outputModelIterator : this : ', ']>"
	node-label="<[ text ]>"
	leaf-label="<[ text ]>"
>&lt;/div>
								</code>
							</pre>
						</div>
						<div role="tabpanel" class="tab-pane" id="controller_2">
							<p>Define your data models:</p>
							<pre>
								<code class="javascript">
$scope.input_data = [
	{ text: 'A', value: 'a', id: 1},
	{ text: 'B', value: 'b', id: 2},
	{ text: 'C', value: 'c', id: 3, checked: true},
	{ text: 'D', value: 'd', id: 4},
	{ text: 'E', value: 'e', id: 5},
	{ text: 'F', value: 'f', id: 6, checked: true}
];

$scope.output_data_2 = [];
								</code>
							</pre>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<p>
			Look at the <code>output-model</code> below to see the values getting updated
			as you select / deselect an item in the directive.
		</p>
		<pre ng-bind-html="output_data_1 | json : 4 | prettify"></pre>
	</div>
	<div class="col-sm-6">
		<p>
			Look at the <code>output-model</code> below to see the values getting updated
			as you select / deselect an item in the directive.
		</p>
		<pre ng-bind-html="output_data_2 | json : 4 | prettify"></pre>
	</div>
</div>

<script>
	$(document).ready(function() {
	  $('pre code').each(function(i, block) {
		hljs.highlightBlock(block);
	  });
	});
</script>
