<div class="row">
	<div class="col-sm-12">

		<h3 class="pageHeading">Events</h3>

		<h5>Listening for events</h5>

		<p>
			AMS will broadcast events whenever <i>something</i> happens. The names of the events are:
			<ul>

				<li><b>ams_output_model_change</b></li>
				<pre>
					<code class="javascript">
$scope.$on('ams_output_model_change', function(event, args) {
	console.log(event, args);
});
					</code>
				</pre>
				<pre>
					<code class="javascript">
Object {name: "ams_output_model_change", targetScope: m, defaultPrevented: false, currentScope: b},
Object {name: "angular-multi-select-14609208330.14700627423064772"
					</code>
				</pre>
				<ul>
					<li><b>name</b> - the name you (or AMS) assigned to the directive</li>
				</ul>

				<br><br>

				<li><b>ams_input_model_change</b></li>
				<pre>
					<code class="javascript">
$scope.$on('ams_input_model_change', function(event, args) {
	console.log(event, args);
});
					</code>
				</pre>
				<pre>
					<code class="javascript">
Object {name: "ams_input_model_change", targetScope: m, defaultPrevented: false, currentScope: b},
Object {name: "angular-multi-select-14609208330.14700627423064772"
					</code>
				</pre>
				<ul>
					<li><b>name</b> - the name you (or AMS) assigned to the directive</li>
				</ul>

				<br><br>

				<li><b>ams_toggle_check_node</b></li>
				<pre>
					<code class="javascript">
$scope.$on('ams_toggle_check_node', function(event, args) {
	console.log(event, args);
});
					</code>
				</pre>
				<pre>
					<code class="javascript">
Object {name: "ams_toggle_check_node", targetScope: m, defaultPrevented: false, currentScope: b},
Object {name: "angular-multi-select-14609208330.14700627423064772", item: {"text":"A","value":"a","id":1,"open":false,"checked":1}}
					</code>
				</pre>
				<ul>
					<li><b>name</b> - the name you (or AMS) assigned to the directive</li>
					<li><b>item</b> - the item that caused the broadcast <b>before</b> the actual change</li>
				</ul>

				<br><br>

				<li><b>ams_toggle_open_node</b></li>
				<pre>
					<code class="javascript">
$scope.$on('ams_toggle_open_node', function(event, args) {
	console.log(event, args);
});
					</code>
				</pre>
				<pre>
					<code class="javascript">
Object {name: "ams_toggle_open_node", targetScope: m, defaultPrevented: false, currentScope: b},
Object {name: "angular-multi-select-14609208330.14700627423064772", item: {"text":"A","value":"a","id":1,"open":false,"checked":1}}
					</code>
				</pre>
				<ul>
					<li><b>name</b> - the name you (or AMS) assigned to the directive</li>
					<li><b>item</b> - the item that caused the broadcast <b>before</b> the actual change</li>
				</ul>

			</ul>
		</p>
	</div>
</div>

<script>
	$(document).ready(function() {
	  $('pre code').each(function(i, block) {
		hljs.highlightBlock(block);
	  });
	});
</script>
