<div class="row">
	<div class="col-sm-12">
		<h3 class="pageHeading">AngularJs MultiSelect</h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<p>
			AngularJS directive which creates a dropdown widget with multiple or single selection mode.
		</p>
		<br />
		<div
			angular-multi-select
			input-model="modernBrowsers"
			output-model="anyOutput"
			item-label="{{ icon }} {{ name }}"
			button-template="angular-multi-select-btn-data.htm"
			button-label="{{ icon }} {{ name }}"
			button-label-separator='[", ", "."]'
			search-property="name"
			tick-property="check"
			group-property="sub"
		>
		</div>
		<h5>Features</h5>
		<ul>
			<li>Can be easily combined with other Javascript libraries such as Twitter Bootstrap.</li>
			<li>Multiple or single selection mode</li>
			<li>Use HTML &amp; CSS in the button itself and the items labels</li>
			<li>Unlimited nested grouping</li>
			<li>Keyboard navigation support</li>
			<li>Event callbacks available</li>
			<li>Directive methods callable from the controller via a nice API</li>
			<li>Configurable</li>
			<li>i18n. Easily translated to different languages.</li>
		</ul>

		<h5>Current version</h5>
		<p>5.3.15</p>

		<h5>Changelog</h5>
		<p>
			See <a href="https://github.com/alexandernst/angular-multi-select/blob/master/CHANGELOG.md" target="_blank">CHANGELOG.md</a>.
			For those who are upgrading from version 2.x.x, do note that this version is not backward-compatible. Please read this manual
			thoroughly and update your code accordingly. Read the <a href="#/breaking-changes">breaking changes</a> to know more.
		</p>
		<h5>If you like this directive, consider donating</h5>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div style="display: inline-block;float: left; width: 140px;">
			<strong style="float: left; padding-top:5px;">5€&nbsp;</strong>
			<script async="async" src="js/libs/paypal-button.min.js?merchant=BYSSKRBRQYLEJ"
				data-button="donate"
				data-name="Alexandernst's AngularJs Multi Select"
				data-quantity="1"
				data-amount="5"
				data-currency="EUR"
				data-shipping="0"
				data-tax="0"
			></script>
		</div>
		<div style="display: inline-block;">
			<strong style="float: left; padding-top:5px;">10€&nbsp;</strong>
			<script async="async" src="js/libs/paypal-button.min.js?merchant=BYSSKRBRQYLEJ"
				data-button="donate"
				data-name="Alexandernst's AngularJs MultiSelect"
				data-quantity="1"
				data-amount="10"
				data-currency="EUR"
				data-shipping="0"
				data-tax="0"
			></script>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h5>About this documentation</h5>
		<p>
			If you download the complete package, this web-based documentation can be found in the gh-pages branch.
			It's an AngularJs app itself, so it is suggested that you run it under a web server.
		</p>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('pre code').each(function(i, block) {
			hljs.highlightBlock(block);
		});
	});
</script>
