/*
 ██████  ██████  ███    ██ ████████  █████  ██ ███    ██ ███████ ██████
██      ██    ██ ████   ██    ██    ██   ██ ██ ████   ██ ██      ██   ██
██      ██    ██ ██ ██  ██    ██    ███████ ██ ██ ██  ██ █████   ██████
██      ██    ██ ██  ██ ██    ██    ██   ██ ██ ██  ██ ██ ██      ██   ██
 ██████  ██████  ██   ████    ██    ██   ██ ██ ██   ████ ███████ ██   ██
*/
.ams-container {
	border: 1px solid black;
	background: white;
	color: DimGrey;
	width: 400px;
	padding: 5px;
}

/*
██   ██ ███████ ██      ██████  ███████ ██████  ███████
██   ██ ██      ██      ██   ██ ██      ██   ██ ██
███████ █████   ██      ██████  █████   ██████  ███████
██   ██ ██      ██      ██      ██      ██   ██      ██
██   ██ ███████ ███████ ██      ███████ ██   ██ ███████
*/
.ams-helpers {
	display: inline-block;
	width: 100%;
}

.ams-helpers .btn {
	/*border: 1px solid #ccc;*/
	font-size: 13px;
	/*border-radius: 4px;*/
	color: DimGrey;
	/*background-color: #f1f1f1;*/
	line-height: 1.6;
	padding: 2px 8px;
}

.ams-helpers .selects .btn:nth-child(2) {
	margin-left: 5px;
}

.ams-helpers .selects {
	display: flex;
	float: left;
}

.ams-helpers .selects .all::before {
	content: "✓  ";
}

.ams-helpers .selects .all {

}

.ams-helpers .selects .none::before {
	content: "×  ";
}

.ams-helpers .none {

}

.ams-helpers .resets {
	display: flex;
	float: right;
}

.ams-helpers .resets .reset::before {
	content: "↶  ";
}

.ams-helpers .reset {

}

/*
███████ ███████  █████  ██████   ██████ ██   ██
██      ██      ██   ██ ██   ██ ██      ██   ██
███████ █████   ███████ ██████  ██      ███████
     ██ ██      ██   ██ ██   ██ ██      ██   ██
███████ ███████ ██   ██ ██   ██  ██████ ██   ██
*/
.ams-search {
	display: flex;
	position: relative;
}

.ams-search .search {
	border-radius: 2px;
    border: 1px solid #ccc;
    height: 26px;
    font-size: 14px;
    width: 100%;
    color: #888;
	padding-left: 7px;
}

.ams-search .clear::before {
	content: "×";
}

.ams-search .clear {
	position: absolute;
	right: 2px;
	height: 26px;
	top: 2px;
}

/*
██ ████████ ███████ ███    ███
██    ██    ██      ████  ████
██    ██    █████   ██ ████ ██
██    ██    ██      ██  ██  ██
██    ██    ███████ ██      ██
*/
.ams-item {
	display: flex;
	padding: 2px;
}

/*
 ██████  ██████  ███████ ███    ██ ███████ ██████      ███████ ████████  █████  ████████ ███████
██    ██ ██   ██ ██      ████   ██ ██      ██   ██     ██         ██    ██   ██    ██    ██
██    ██ ██████  █████   ██ ██  ██ █████   ██   ██     ███████    ██    ███████    ██    █████
██    ██ ██      ██      ██  ██ ██ ██      ██   ██          ██    ██    ██   ██    ██    ██
 ██████  ██      ███████ ██   ████ ███████ ██████      ███████    ██    ██   ██    ██    ███████
*/
.ams-item .caret {
	width: 10px;
	margin-right: 5px;
	cursor: pointer;
}

.ams-item.leaf .caret {
	cursor: default;
}

.ams-item:not(.leaf) .caret.open::before {
	content: '▾';
}

.ams-item:not(.leaf) .caret.closed::before {
	content: '▸';
}

/*
 ██████ ██   ██ ███████  ██████ ██   ██ ███████ ██████      ███████ ████████  █████  ████████ ███████
██      ██   ██ ██      ██      ██  ██  ██      ██   ██     ██         ██    ██   ██    ██    ██
██      ███████ █████   ██      █████   █████   ██   ██     ███████    ██    ███████    ██    █████
██      ██   ██ ██      ██      ██  ██  ██      ██   ██          ██    ██    ██   ██    ██    ██
 ██████ ██   ██ ███████  ██████ ██   ██ ███████ ██████      ███████    ██    ██   ██    ██    ███████
*/
.ams-item .check {
	cursor: pointer;
}

.ams-item .check.checked::before {
	content: '✓';
	color: green;
}

.ams-item .check.unchecked::before {
	content: '✗';
	color: red;
}

.ams-item .check.mixed::before {
	content: '~';
	color: yellow;
}

/*
██ ███    ██ ██████  ███████ ███    ██ ██████   █████  ████████ ██  ██████  ███    ██
██ ████   ██ ██   ██ ██      ████   ██ ██   ██ ██   ██    ██    ██ ██    ██ ████   ██
██ ██ ██  ██ ██   ██ █████   ██ ██  ██ ██   ██ ███████    ██    ██ ██    ██ ██ ██  ██
██ ██  ██ ██ ██   ██ ██      ██  ██ ██ ██   ██ ██   ██    ██    ██ ██    ██ ██  ██ ██
██ ██   ████ ██████  ███████ ██   ████ ██████  ██   ██    ██    ██  ██████  ██   ████
*/
.ams-item-level_0 {
	padding-left: 20px;
}

.ams-item-level_1 {
	padding-left: 40px;
}

.ams-item-level_2 {
	padding-left: 60px;
}

.ams-item-level_3 {
	padding-left: 80px;
}

.ams-item-level_4 {
	padding-left: 100px;
}

.ams-item-level_5 {
	padding-left: 120px;
}
