/* Put your css in here */

.container {
	border: 1px solid black;
	background: #BFBFBD;
	color: DimGrey;
}

.item {
	display: flex;
	padding: 2px;
}

/*
 ██████  ██████  ███████ ███    ██ ███████ ██████      ███████ ████████  █████  ████████ ███████
██    ██ ██   ██ ██      ████   ██ ██      ██   ██     ██         ██    ██   ██    ██    ██
██    ██ ██████  █████   ██ ██  ██ █████   ██   ██     ███████    ██    ███████    ██    █████
██    ██ ██      ██      ██  ██ ██ ██      ██   ██          ██    ██    ██   ██    ██    ██
 ██████  ██      ███████ ██   ████ ███████ ██████      ███████    ██    ██   ██    ██    ███████
*/
.item .caret {
	width: 10px;
	margin-right: 5px;
}

.item:not(.leaf) .caret.open::before {
	content: '▾';
}

.item:not(.leaf) .caret.closed::before {
	content: '▸';
}

/*
 ██████ ██   ██ ███████  ██████ ██   ██ ███████ ██████      ███████ ████████  █████  ████████ ███████
██      ██   ██ ██      ██      ██  ██  ██      ██   ██     ██         ██    ██   ██    ██    ██
██      ███████ █████   ██      █████   █████   ██   ██     ███████    ██    ███████    ██    █████
██      ██   ██ ██      ██      ██  ██  ██      ██   ██          ██    ██    ██   ██    ██    ██
 ██████ ██   ██ ███████  ██████ ██   ██ ███████ ██████      ███████    ██    ██   ██    ██    ███████
*/
.item .check.checked::before {
	content: '✓';
	color: green;
}

.item .check.unchecked::before {
	content: '✗';
	color: red;
}

.item .check.mixed::before {
	content: '~';
	color: yellow;
}

.level_0 {
	padding-left: 20px;
}

.level_1 {
	padding-left: 40px;
}

.level_2 {
	padding-left: 60px;
}

.level_3 {
	padding-left: 80px;
}

.level_4 {
	padding-left: 100px;
}

.level_5 {
	padding-left: 120px;
}
